.panel {}

/* Panel positioning placeholders */
.aboutImage1 {
  /* TODO: set real coordinates */
  grid-column: 1 / 7; /* columns ?–? */
  grid-row: 1 /19;    /* rows ?–? */
}

.aboutText1 {
  grid-column: 7 / 13;
  grid-row: 6 / 14;
}

.aboutImage2 {
  grid-column: 7 / 13;
  grid-row: 19 / 37;
}

.aboutText2 {
  /* TODO: set real coordinates */
  grid-column: 1 / 7; /* columns ?–? */
  grid-row: 24 / 32;    /* rows ?–? */
}
